doctype html
html(lang="en")
  head
    title Users Page
    Link(rel="stylesheet" href="/css/all-users.css")     
  body
    h1 All Users List
    table
      thead
        tr
          th Staff Name
          th Email Address
          th Role
          th Branch
      tbody
        if users.length 
        each user in users
          tr
            td #{user.username}
            td #{user.email}
            td #{user.role}
            td #{user.branch}
        else 
          p no users signed up yet
