doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Manager Page
    Link(rel="stylesheet" href="/css/manager-dashboard.css")     
  body
    h1 Manager Dashboard!
    p We're glad to have you here.
    a(href="/all-users") See All Users
    a(href="/logout") Logout
